<h1>Enter User:</h1>
<form action="/tweets" method="post">
  <input type="text" name="<%= @username %>" value=" ">
  <button>Search</button>
</form>

<center><h2 style="color: cyan">@<%= @username.capitalize %>'s Tweets</h2>
<p>
  <b><a href="http://twitter.com/<%=@username%>">
    <%=@name%>:
  </b></a><%=@location%>
  <p><%= @description %></p>
</p></center><br />
<% @my_tweets.each do |tweet| %>
    <p>
      <%= tweet[:text] %>
      <a href="http://twitter.com/<%=@username%>/status/<%=tweet[:id]%>">
        (Tweet Link)
      </a><% tweet[:media].each do |media_piece| %>
      <img src="<%= media_piece[:media_url] %>" width="200px"/>
      <% end %>
    </p>
  <% end %>
